$break-mobile: 320px;
$break-desktop: 321px;

@media screen and (min-width: $break-desktop){
  body { 
    background-color: green; 
  }

  .header {
    height: 175px;
    // display: flex;
    h1 {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  
  .header {
    height: 250px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2em;
    }
    p .header-welcome {
      font-size: .6em;
    }
    .dropdown {
      position: unset;
    }
    .header-date {
      font-size: .7em;
    }
    .switch__dropdown {
      display: flex;
      margin-bottom: 10px;
    }
    .switch {
      margin-right: 35px;
    }
  }

}