$break-mobile: 320px;
$break-desktop: 321px;

@media screen and (min-width: $break-desktop){
  body { 
    background-color: green; 
  }

  .header {
    height: 175px;

    h1 {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  
  body { 
    background-color: red; 
  }

  .header {
    display: block;
    height: 200px;
    h1 {
      font-size: .6em;
    }
    p {
      font-size: .6em;
    }
  }

}