$break-mobile: 420px;
$break-desktop: 421px;

@media screen and (min-width: $break-desktop){
  body { 
    background-color: green; 
    // column-count: 2;
  }

  .header {
    height: 250px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2.1em;
    }
    p .header-welcome {
      font-size: .8em;
    }
    .dropdown {
      position: unset;
    }
    .header-date {
      font-size: 1em;
    }
    .switch__dropdown {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
    }
    .switch {
      margin-right: 35px;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  
  .header {
    height: 250px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2em;
    }
    p .header-welcome {
      font-size: .6em;
    }
    .dropdown {
      position: unset;
    }
    .header-date {
      font-size: .7em;
    }
    .switch__dropdown {
      display: flex;
      margin-bottom: 10px;
    }
    .switch {
      margin-right: 35px;
    }
  }

}