// COLORS VARS
:root {
  --bcg-color: #111f28;
  --section-bcg-color: #484e52;
  --base-color: #ffffff;
  --accent-color: #dda0dd;
}

$base-font: 'Open Sans', sans-serif;

* {
  border: none;
  box-sizing: border-box;
  font-family: $base-font;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bcg-color);
}

h1 {
  font-size: 30px;
}

h3 {
  border-bottom: solid 1px var(--base-color);
  font-size: 20px;
  margin-bottom:15px;
  padding-bottom: 15px;
  text-align: center;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

main {
  @extend article;
  section {
    break-inside: avoid;
  }
}

article {
  break-inside: avoid;
  column-count: 3;
  column-width: 15em;
  padding: 10px;
  width: 100%;
}

container {
  background-color: var(--section-bcg-color);
  color: var(--base-color);
  border-radius: 10px;
  border: solid 2px #afb9c5;
  box-shadow: 0 0 5px #666666;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  &:hover {
    box-shadow: 0 0 10px #999999;
    transition: 0.4s;
  }
  img {
    align-self: center;
    height: 150px;
    width: 100px;
  }
}

.number {
  color: var(--accent-color);
  font-size: 40px;
  font-weight: bold;
  margin: 3px;
  opacity: 0.8;
}

.you-vs-world {
  text-align: center;
  h4 {
    margin-bottom: 4px;
    margin-top: 4px;
  }
  span {
    color: var(--accent-color);
  }
}

#winner-name {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
}

#republic-plaza-challenge {
  color: plum;
  font-size: 20px;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

@import "./header";
@import "./dropdown-menu";
@import "./media-queries.scss";
